:root {
    --flexGridify-row-gap: 1em;
    --flexGridify-column-gap: 0.5em;
    --flexGridify-column-width-calc: auto;
}

.flexGridify {
    display: flex;
    flex-flow: column wrap;
    column-gap: var(--flexGridify-column-gap);
    row-gap: var(--flexGridify-row-gap);
}

.flexGridify-item[draggable=true] {
    cursor: move !important;
}

.flexGridify.flexGridify_init {
    opacity: 0;
    visibility: hidden;
}

.flexGridify-item { width: 100%; }
.flexGridify-cols-2 .flexGridify-item { width: var(--flexGridify-column-width-calc) }
.flexGridify-cols-3 .flexGridify-item { width: var(--flexGridify-column-width-calc) }
.flexGridify-cols-4 .flexGridify-item { width: var(--flexGridify-column-width-calc) }
.flexGridify-cols-5 .flexGridify-item { width: var(--flexGridify-column-width-calc) }
.flexGridify-cols-6 .flexGridify-item { width: var(--flexGridify-column-width-calc) }
.flexGridify-cols-7 .flexGridify-item { width: var(--flexGridify-column-width-calc) }
.flexGridify-cols-8 .flexGridify-item { width: var(--flexGridify-column-width-calc) }

.flexGridify-cols-2 .flexGridify-item:nth-child(2n+1) { order: 1; }
.flexGridify-cols-2 .flexGridify-item:nth-child(2n)   { order: 2; }

.flexGridify-cols-3 .flexGridify-item:nth-child(3n+1) { order: 1; }
.flexGridify-cols-3 .flexGridify-item:nth-child(3n+2) { order: 2; }
.flexGridify-cols-3 .flexGridify-item:nth-child(3n)   { order: 3; }

.flexGridify-cols-4 .flexGridify-item:nth-child(4n+1) { order: 1; }
.flexGridify-cols-4 .flexGridify-item:nth-child(4n+2) { order: 2; }
.flexGridify-cols-4 .flexGridify-item:nth-child(4n+3) { order: 3; }
.flexGridify-cols-4 .flexGridify-item:nth-child(4n)   { order: 4; }

.flexGridify-cols-5 .flexGridify-item:nth-child(5n+1) { order: 1; }
.flexGridify-cols-5 .flexGridify-item:nth-child(5n+2) { order: 2; }
.flexGridify-cols-5 .flexGridify-item:nth-child(5n+3) { order: 3; }
.flexGridify-cols-5 .flexGridify-item:nth-child(5n+4) { order: 4; }
.flexGridify-cols-5 .flexGridify-item:nth-child(5n)   { order: 5; }

.flexGridify-cols-6 .flexGridify-item:nth-child(6n+1) { order: 1; }
.flexGridify-cols-6 .flexGridify-item:nth-child(6n+2) { order: 2; }
.flexGridify-cols-6 .flexGridify-item:nth-child(6n+3) { order: 3; }
.flexGridify-cols-6 .flexGridify-item:nth-child(6n+4) { order: 4; }
.flexGridify-cols-6 .flexGridify-item:nth-child(6n+5) { order: 5; }
.flexGridify-cols-6 .flexGridify-item:nth-child(6n)   { order: 6; }

.flexGridify-cols-7 .flexGridify-item:nth-child(7n+1) { order: 1; }
.flexGridify-cols-7 .flexGridify-item:nth-child(7n+2) { order: 2; }
.flexGridify-cols-7 .flexGridify-item:nth-child(7n+3) { order: 3; }
.flexGridify-cols-7 .flexGridify-item:nth-child(7n+4) { order: 4; }
.flexGridify-cols-7 .flexGridify-item:nth-child(7n+5) { order: 5; }
.flexGridify-cols-7 .flexGridify-item:nth-child(7n+6) { order: 6; }
.flexGridify-cols-7 .flexGridify-item:nth-child(7n)   { order: 7; }

.flexGridify-cols-8 .flexGridify-item:nth-child(8n+1) { order: 1; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n+2) { order: 2; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n+3) { order: 3; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n+4) { order: 4; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n+5) { order: 5; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n+6) { order: 6; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n+7) { order: 7; }
.flexGridify-cols-8 .flexGridify-item:nth-child(8n)   { order: 8; }

.flexGridify-break {
    content: "";
    flex-basis: 100%;
    width: 0 !important;
    margin: 0;
}
.flexGridify-break-1 { order: 1; }
.flexGridify-break-2 { order: 2; }
.flexGridify-break-3 { order: 3; }
.flexGridify-break-4 { order: 4; }
.flexGridify-break-5 { order: 5; }
.flexGridify-break-6 { order: 6; }
.flexGridify-break-7 { order: 7; }


